body{
    background-color:  F5EFFF;
    font-family: sans-serif;
    background-image: url(../images/images.png);
}
a {
    text-decoration: none;
    color: black
}
a:hover{
    background-color: #E5D9F2;
}
header{
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    background-color: #E5D9F2;
    padding: 50px;
    height: 15vh;
    background-image: url(../images/tech-things/header-bckgr.jpeg);
    opacity: 0.9;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
header > *{
    padding: 10px;
    width: auto;
    background-color: rgb(228, 134, 150);
    border-radius: 10px;
    text-align: center;
    font-size:larger;
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-color: gray;
    height: 40vh;
    padding: 20px;
    opacity: 0.9;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

footer > *{
    padding: 20px;
}
